/* CS290 Project Subpage2 */

/* give navMenu black background */
div.navMenu {
  background-color: #333;
  overflow: hidden;
}

/* give styles to links to other pages in navMenu */
div.navMenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* make links orange on hover */
div.navMenu a:hover {
  background-color: #fb9a5d;
  color: black;
}

/* make active link red */
div.navMenu a.active {
  background-color: #b53334;
  color: white;
}

/* style video margin */
div.video {
    margin-right: 100px
}

/* make fieldset orange */
fieldset {
    background-color: #fb9a5d;
}

/* style margins */
h1, h3, h5, img, canvas, figcaption {
    margin-left: 20px
}

